html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  list-style: none;
}

ul li {
  flex:0 0 33%;
  max-width: 1000px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 1rem;
}

section {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 1rem;
  max-width: 1000px;
  width: 100%;
}

.data {
  overflow:scroll;
}
